<section class="front-page">
  <div class="front-page-texts">
    <div class="front-page-texts-title">
      <p>
        <figure>
          <img src="../../../assets/images/asianStyle1.jpg" alt="">
        </figure> Discover, Collect, And
         <figure>
          <img src="../../../assets/images/asianStyle2.jpg" alt="">
         </figure>
         <figure>
          <img src="../../../assets/images/asianStyle3.jpg" alt="">
         </figure> Sell Anime Art
      </p>
    </div>
    <div class="front-page-texts-subtitle">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse rerum dicta cumque veniam consectetur ab.
      </p>
    </div>
    <div class="front-page-texts-options">
      <div class="front-page-texts-options-search">
        <input type="text" placeholder="Search items, Colections and accounts">
      </div>
      <button>Explore</button>
    </div>
  </div>
  <div class="front-page-decoration">
    <div class="front-page-decoration-images">
      <img class="image1" src="../../../assets/images/asianStyle1.jpg" alt="">
      <img class="image2" src="../../../assets/images/asianStyle2.jpg" alt="">
      <img class="image3" src="../../../assets/images/asianStyle3.jpg" alt="">
    </div>
    <div class="front-page-decoration-figure">
      <img src="../../../assets/images/profile.jpg" alt="profile">
      <div class="front-page-decoration-figure-text">
        Chromie Maggie
      </div>
      <div class="front-page-decoration-figure-minitext">
        <div class="front-page-decoration-figure-minitext-1">19.320.00</div>
        <div class="front-page-decoration-figure-minitext-2">+10.00%</div>
      </div>
    </div>
  </div>
</section>
