.hide-mobile{
  padding: 30px 0 10px 0;
  .hide-mobile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 0 0 80%;
      a{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        img{
          width: 40px;
          height: 40px;
          position: relative;
          top: -14px;
        }

      }

    }
  }

  ul {
    display: flex;
    flex: 0 0 20%;
    li {
      padding: 0 15px 0 15px;
      transition: text-decoration 0.5s;
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .account {

    .logIn-btn{
      background: transparent ;
      border: 0;
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .signUp-btn{
      background: transparent;
      box-shadow: 5px 5px 0px -1px rgba(0,0,0,0.75);
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

